::-webkit-scrollbar {
	display: none;
}

html {
	cursor: none;
}

body {
	background-color: black;
}

h1 {
	color: white;
	margin: auto;
	font-family: consolas;
}

boot_msg {
	text-align: left;
	color: rgb(167, 167, 167);
	display: block;
	margin: 20px;
}
span {
	position: absolute;
	right: 50px;
	margin-top: 10px;
	color: #58e83e;
}

build {
	display: block;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: rgba(255, 255, 255, 0.2);
}
