#titlebar {
	position: absolute;
	max-height: 20px;
	width: 100%;
	left: 0px;
	height: 20px;
	background-color: #333333;
	top: 0;
	text-align: right;
	color: rgb(255, 255, 255);
}

#languageIndicator {
	display: inline;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	padding-left: 10px;
	font-size: 10px;
	font-size: 15px;
}

#languageIndicatorTxt {
	position: absolute;
	margin: 0px -23px;
}

#powerIcon {
	cursor: pointer;
	margin: 0 2px 0 3px;
}

.centered {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	background-color: rgba(128, 128, 128, 0.349);
	display: none;
}

.shutdownConfirm {
	position: absolute;
	background-color: #333333;
	height: 200px;
	width: 400px;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}
#shutdownMessage {
	color: rgb(255, 220, 220);
	font-size: 20px;
	font-weight: 900;
}

#sdIMG {
	margin-top: 10px;
	padding: 20px;
	border-radius: 10px;
	border: #e8f4fccb 2px solid;
	transition: background-color 0.3s;
	cursor: pointer;
}

#sdIMG:hover {
	background-color: #e8f4fccb;
}

.exitShutdown {
	position: absolute;
	background-color: rgb(199, 184, 184);
	padding: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.exitShutdown:hover {
	background-color: rgb(233, 79, 79);
}

#volumeIcon {
	cursor: pointer;
}

.sliderContainer {
	display: none;
	padding: 10px;
	padding-bottom: 75px;
	position: absolute;
	background-color: #323536;
	top: 25px;
	right: 10px;
}

.slider {
	-webkit-appearance: none;
	width: 150px;
	height: 10px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
}

.slider::-moz-range-thumb {
	border-radius: 50%;
	border: 2px solid #ffffff;
	background: #ffffff;
	cursor: pointer;
}

.slider::-webkit-slider-thumb {
	border-radius: 50%;
	border: 2px solid #ffffff;
	background: #ffffff;
	cursor: pointer;
}

#arrowDown {
	transform: translate(0%, -25%);
	margin-right: 10px;
	cursor: pointer;
}
#menuUserImage {
	margin-top: 15px;
}

#userName {
	color: rgb(225, 226, 212);
	font-weight: 300;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	display: inline-block;
	margin: auto 10px;
}

username {
	position: absolute;
	top: 68px;
}

#rightUpMenu {
	cursor: pointer;
	position: absolute;
	height: 20px;
	width: 72px;
	right: 0;
	top: 0;
}
