@font-face
    font-family: "SourceSansPro"
    src: url("../fonts/SourceSansPro-SemiBold.ttf")
@font-face
    font-family: "RobotMono"
    src: url("../fonts/RobotoMono.ttf")

\:root
    --topBar-height: 25px

    --user-background: url("../img/MainBG.png")

    --color-background-100: #362a3b
    --color-background-200: #272727
    --color-background-300: #222222
    --color-background-350: #1b1a1a
    --color-background-400: #1a1818
    --color-background-500: #131111
    --color-background-600: #131212
    --color-background-700: #0f0f0f
    --color-background-800: #000000
    --color-background-900: #18171f
    --color-background-1000: #2d3235
    --color-accent-100: #22222290
    --color-accent-150: #1b1a1a90
    --color-accent-200: #13111190
    --color-accent-300: #15539e90
    --color-accent-400: #18171f90
    --gradient-100: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(39,39,39,1) 100%)

    --color-text-light: #eeeeee
    --color-text-medium: #757575
    --color-text-dark: #161616
    --color-select: #15539e
    --color-danger: #db0d0d
    --color-danger-light: #d64646
    --sans-font: "SourceSansPro"
    --mono-font: "RobotMono"

html
    background: unset !important
    visibility: visible !important
    font-family: var(--sans-font), sans
    color: var(--color-text-light)

*
    background-size: 100%
    -webkit-user-select: none
    -moz-user-select: none
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    background-position-x: center
    background-position-y: center
    outline: none !important
    -webkit-user-select: none
    -moz-user-select: none

body
    overflow: hidden
    padding: 0px
    margin: 0px
    opacity: 1
    background-color: var(--color-background-600)
    animation: hideAll 1s ease-in-out

input
    color: var(--light)
    font-weight: 600

hr
    width: 50%
    height: 1px
    border: none
    margin: auto
    margin: 10px auto
    background-color: var(--color-background-400)

h1,h2,h3,ul,li
    margin: 0px

button
    border: 4px solid transparent
    color: var(--color-text-light)
    font-weight: 100
    font-size: 100%
    border-radius: 5px
    cursor: pointer
    background-color: var(--color-background-300)
    &:hover
        background-color: var(--color-background-200)

    &:active
        background-color: var(--color-background-400)

    &.type-a
        background-color: var(--color-background-400)
        &:hover
            background-color: var(--color-background-200)

        &:active
            background-color: var(--color-background-600)

[--data-tooltip]
    &:hover::after
        z-index: 10
        position: absolute
        content: attr(--data-tooltip)
        padding: 0.1em 0.3em
        background: var(--color-accent-150)
        border-radius: 0.3em
        transform: translate(100%, 0%)
        right: -0.5em
        align-self: center
        justify-self: center
        height: min-content
        animation: reverse fade ease-in-out 0.2s
    &.tooltip-left::after
        left: unset
        right: -0.5em
        transform: translate(100%, 0%)
    &.tooltip-right::after
        right: unset
        left: -0.5em
        transform: translate(-100%, 0%)
    &.tooltip-top::after
        bottom: unset
        margin-top: -3em
        transform: translate(0%, -100%)
    &.tooltip-bottom::after
        top: unset
        margin-top: 3em

        // bottom: -0.5em
        transform: translate(0%, 100%)
@keyframes hideAll
    from
        opacity: 0

    to
        opacity: 1

#linuxRoot
    opacity: 1
    transition: opacity ease-in-out 0.5s
    #mainContent
        position: fixed
        width: 100vw
        height: 100vh
        top: 0px
        // height: calc(100vh - var(--topBar-height))
        // top: var(--topBar-height)

#desktop,
#main_background
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    top: 0px
    left: 0px
    position: fixed
    z-index: 0
    background: black
    background: var(--user-background)
    background-repeat: no-repeat
    background-position-x: center
    background-position-y: center
    background-size: cover !important

#systemMenuContainer > *
    z-index: 1001

.overlay
    width: 100vw
    height: 100vh
    margin: 0
    padding: 0
    top: 0px
    left: 0px
    position: fixed
    display: flex
    justify-content: center
    align-content: center
    background-color: #00000077
    z-index: 1200
    >*
        z-index: 1201

\::-webkit-scrollbar
    background-color: transparent
    width: 8px
    height: 8px

\::-webkit-scrollbar-track
    background-color: black
    opacity: 0.5

\::-webkit-scrollbar-thumb
    background-color: var(--color-background-300)
    border-radius: 20px
    border: 2px solid transparent
    opacity: 0.5

\::-webkit-scrollbar-button
    background-color: transparent

\::-webkit-scrollbar-corner
    background-color: transparent
