@font-face
    font-family: "Oxygen"
    src: url("../fonts/Oxygen-Regular.ttf")

html
    background: unset !important
    visibility: visible !important
    --main-color: #0c0c0c
    --secondary-color: #18171f
    --background-color: #141414
    --main-color-a: #131212
    --main-color-b: #222222
    --general-border-color: #2b2b2f
    --light-color: #eceaea
    --hover-highlight-color: #9e9e9e5d
    --select-color: #1964de
    --error-color: #410e0e
    --light-red-color: #ff5a5a

*
    outline: none !important
    font-family: consolas
    background-size: 100%
    -webkit-user-select: none
    -moz-user-select: none
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    background-position-x: center
    background-position-y: center
    outline: none !important
    font-family: Oxygen
    font-weight: 900
    color: var(--light-color)
    -webkit-user-select: none
    -moz-user-select: none

body
    overflow: hidden
    padding: 0px
    margin: 0px
    opacity: 1
    background-color: var(--background-color)
    animation: hideAll 1s ease-in-out

@keyframes hideAll
    from
        opacity: 0

    to
        opacity: 1

linux
    opacity: 1
    transition: opacity ease-in-out 0.5s

desktop,
main_background
    width: 100vw
    height: 100vh
    margin: 0
    padding: 0
    top: 0px
    left: 0px
    position: fixed
    z-index: 0
    background-image: url("../img/MainBG.png")
    background-repeat: no-repeat
    background-position-x: center
    background-position-y: center
    background-size: cover !important

desktop
    background: unset

system_menu_container > *
    z-index: 1001

overlay
    width: 100vw
    height: 100vh
    margin: 0
    padding: 0
    top: 0px
    left: 0px
    position: fixed
    display: flex
    justify-content: center
    align-content: center
    background-color: #00000077
    z-index: 1200

overlay *
    z-index: 1201

\::-webkit-scrollbar
    background-color: transparent
    width: 8px
    height: 8px

\::-webkit-scrollbar-track
    background-color: black
    opacity: 0.5

\::-webkit-scrollbar-thumb
    background-color: var(--main-color)
    border-radius: 20px
    border: 2px solid transparent
    opacity: 0.5

\::-webkit-scrollbar-button
    background-color: transparent

\::-webkit-scrollbar-corner
    background-color: transparent
