calendar
    display: inline-block
    max-width: min-content
    padding: 1.5em
    border: 2px solid white
    border-radius: 8px
    background-color: var(--general-border-color)
    --size: 30px
    padding: 10px
    > calendar_content
        > week_days
            display: flex
            flex-flow: row nowrap
            justify-content: center
            align-content: center
            margin-top: 1.25em
            > *
                font-size: 0.7em
                font-weight: 500
                letter-spacing: 0.1em
                font-variant: small-caps
                text-align: center
                flex: 1 1 0px
        > dates
            >week
                display: flex
                flex-flow: row nowrap
                justify-content: center
                align-content: center
                flex: 1 1 0px
                > day
                    position: relative
                    
                    // line-height: 200%
                    background-color: transparent
                    text-align: center
                    flex: 1 1 0px
                    > span
                        display: inline-block
                        border: 0
                        border-radius: 50%
                        height: var(--size)
                        width: var(--size)
                        line-height: var(--size)
                        vertical-align: middle
                        &:hover
                            background-color: var(--hover-highlight-color)