div.login-lock_screen
    div.lock_background.ignore_hide.background_image
    user_icon.switch_user_button.ignore_hide(onclick="X.screen.set('loginScreen')")
    div.center_container
        div#loginTime
            time
            date
            p Click or Press a key to unlock
        form#loginForm.login_form
            div.user_wrapper
                user_icon
                div#loginUserName
            div.input_container
                input(type='password' name='password' placeholder='Password')