div.login_screen
    div#login_background 
    div.center_container
        span Not Listed?
            
    form#loginForm(style='display:none')
        div.user_wrapper
            div.user_icon_wrapper
                user_icon
            div#loginUserName
        input(type='password' name='password' placeholder='Password')