/**
 * /* APP MENU
 *
 * @format
 */

app_menu_container {
	position: absolute;
	display: flex;
	flex-flow: column wrap;
	top: 27px;
	left: 0px;
	padding: 10px 0px;
	width: 100vw;
	height: calc(100vh - 45px);
	overflow-y: none;
	opacity: 0.9;
	/* height: auto; */
	background-color: #00000080;
	border: 1px var(--secondary-color) solid;
}

app_menu_container * {
	display: block;
	width: 100%;
	flex: 1 1 auto;
}

app_menu_container > app_search {
	margin-top: 30px;
}
app_menu_container input {
	width: 300px;
	font-size: 18px;
	padding: 5px;
	padding-left: 10px;
	color: white;
	text-align: left;
	margin: auto;
	border: none;
	border-radius: 10px;
	background-color: var(--main-color-b);
}

app_menu_container input::placeholder {
	color: gray;
}

app_menu_container > favorites {
	position: absolute;
	width: auto;
	margin: auto;
	display: flex;
	/* height: 1px; */
	top: 50%;
	transform: translate(0, -50%);
	border: 2px solid var(--general-border-color);
	border-left: none;
	border-radius: 0px 10px 10px 0px;
	background: var(--main-color);
	padding: 5px 0px;
	flex-flow: column wrap;
}
app_menu_container > favorites > app {
	/* text-align: center; */
	text-overflow: ellipsis;
	text-align: center;
	color: var(--light-color);
	font-size: 40px;
	height: 50px;
	width: 50px;
	/* background-color: transparent; */
	display: inline-block;
	/* width: calc(100% - 20px); */
	border-radius: 10px;
	flex: 1 1 auto;
	padding: 15px;
	margin: 5px 10px;
	cursor: pointer;
	transition: background-color 0.1s ease-in-out;
}

app_menu_container > favorites > app:hover {
	background-color: var(--hover-highlight-color);
}
app_menu_container > favorites > app > * {
	height: 50px;
	width: 50px;
	filter: brightness(0.5);
}
