app_body > settings
    width: 100%
    height: 100%
    flex-flow: row nowrap
    display: flex
    background-color: var(--main-color)
    color: var(--light-color)

app_body > settings > *
    flex: 1 1 auto
    padding: 20px

app_body > settings > sidebarMenu
    display: flex
    flex-flow: column
    flex: 0 0 0
    padding: 0px
    border-right: 2px var(--main-color-b) solid

app_body > settings > sidebarMenu > *
    display: flex
    flex-flow: row nowrap
    flex: 0 0 0
    padding: 10px 20px
    transition: background-color 0.2s linear

app_body > settings > sidebarMenu > * > *:first-child
    /* flex: 0 0 0;
    height: 20px
    width: 20px
    margin-right: 10px

app_body > settings > sidebarMenu > *:hover
    background-color: var(--hover-highlight-color)

app_body > settings > sidebarMenu > .selected
    background-color: var(--main-color-b)

app_body > settings > panel
    background-color: var(--main-color-lighter)
    > *
        margin: 5px
        padding: 0px

