
$terminalFontSize: 15px

app_body > terminal_main
    display: block
    font-size: $terminalFontSize
    font-family: var(--mono-font)
    -khtml-user-select: text
    -webkit-user-select: text
    -ms-user-select: text
    user-select: text
    cursor: default


app_body > terminal_main *,
terminal_input,
terminal_input *
    font-family: var(--mono-font)
    font-size: $terminalFontSize
    font-weight: 100

app_body > terminal_main > command
    display: block
    margin-left: 2px

terminal_input
    display: flex
    background-color: black
    width: 100%

terminal_input > input
    flex: 1 1 auto
    font-size: $terminalFontSize
    border: none
    margin-left: 9px
    color: inherit
    background-color: transparent
    padding: 0px
