notification_panel_container 
    position: absolute
    top: calc(var(--top_bar-height) + 10px)
    left: 50% 
    transform: translate(-50%)
    margin: auto
    background-color: var(--main-color-b)
    max-width: 400px
    max-height: 400px
    width: 33vw
    height: 400px
    border-radius: 10px
    >calendar
        position: relative
        
        width: 33%


    