#statusAreaContainer
    display: inline-block
    position: fixed
    right: 10px
    top: calc(var(--topBar-height) + 10px)
    width: 18em
    background-color: var(--color-background-300)
    border-radius: 10px
    padding: 10px 0px

    li
        display: flex
        margin: 5px 0px
        width: auto
        padding: 5px 20px
        background-color: none
        justify-content: center
        align-content: center
        color: var(--color-text-light)
        font-size: 14px
        text-align: left
        border-radius: 0px
        background-color: var(--color-background-300)

        > *
            flex: 1 1 auto
            height: 20px
            margin: auto

        &:hover
            filter: brightness(1.2)

        *:first-child
            flex: 0 1 auto
            width: 16px
            margin-right: 10px

        *:last-child
            text-overflow: ellipsis
            flex: 1 1 auto

        *
            flex: 1 1 auto
            height: 20px
            margin: auto

    .dropdown_item
        display: flex
        flex-flow: column

        > li
            margin-bottom: 10px
            > down_icon
                flex: 0 0 auto !important
                width: 20px
                height: 20px
                display: flex
                transform: rotate(-90deg)
                transition: transform 0.2s ease-in-out
        > dropdown
            height: 0px
            background: var(--color-background-400)
            overflow: hidden
            display: flex
            flex-flow: column nowrap
            transition: height 0.2s ease-in-out

            > li
                padding-left: 50px
                margin: auto 0px
                background-color: var(--color-background-400)

        & > li:hover
            background-color: var(--color-background-300)

    input[type="range"]
        -webkit-appearance: none
        appearance: none
        display: inline-block
        height: 5px
        background: #575757
        outline: none
        opacity: 0.7
        transition: opacity 0.3s
    input[type="range"]:hover
        opacity: 1

    input[type="range"]::-webkit-slider-thumb
        -webkit-appearance: none
        appearance: none
        width: 15px
        background: azure
        border-radius: 50%
        height: 15px
        cursor: pointer

    input[type="range"]::-moz-range-thumb
        -webkit-appearance: none
        appearance: none
        width: 10px
        height: 10px
        background: #c5c5c5
        cursor: pointer
