taskbar {
	position: fixed;
	display: flex;
	flex-direction: row;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 30px;
	background-color: var(--main-color);
}

taskbar > * {
	display: inline-block;
	width: 33%;
	height: 30px;
}

/* Left styles*/

taskbar > left {
	display: flex;
	flex: 1 1 auto;
	text-align: left;
}

app_menu_button {
	display: flex;
	transition: background-color ease-in-out 0.15s;
	height: 100%;
}

app_menu_button:hover {
	background-color: var(--hover-highlight-color);
}

app_menu_button_icon {
	display: inline-block;
	background-color: transparent;
	border: 3px var(--light-color) solid;
	border-radius: 50%;
	align-self: center;
	margin: 8px;
	width: 14px;
	height: 14px;
}

/* Middle styles*/
taskbar > middle {
	flex: 5 1 auto;
	text-align: center;
}

dateTime {
	display: inline-block;
	height: 30px;
	align-items: center;
	vertical-align: middle;
	line-height: 30px;
	text-align: center;
	color: lightgray;
}

/* Right styles*/
taskbar > right {
	display: inline-block;
	position: relative;
	flex: 1 1 auto;
	text-align: right;
}
taskbar > right > * {
	padding: 0px 4px;
	background-color: transparent;
	transition: background-color ease-in-out 0.15s;
	filter: invert(0.6);
}

statusArea {
	position: relative;
	display: inline-block;
	width: auto;
	padding: 0px 5px 0px 5px !important;
	height: 100%;
	cursor: default;
}

statusArea:hover {
	background-color: var(--hover-highlight-color);
	/* opacity: 0.5; */
}

statusArea > * {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 100%;
}
statusArea > padlock_icon {
	margin: 0px 5px 0px 0px;
	background-size: 75%;
	filter: none;
}

statusArea > volume_icon {
	width: 20px;
	border-radius: 0%;
	height: 30px;
	background-size: 90%;
}

statusArea > settings_arrow {
	display: inline-block;
	background-image: url("../../img/white_down_arrow.png");
	width: 10px;
	filter: invert(1); /* invert the previous invert */
}

/* volume_text {
	display: inline-block;
	text-align: center;
	color: rgb(246, 246, 246);
	margin: 0px 5px;
	min-width: 50px;
	font-size: 30px;
} */
