head
  link(rel='stylesheet' type='text/css' href='./src/css/main.css')
  link(rel='stylesheet' type='text/css' href='./src/css/boot_and_shutdown.css')
  script(defer='' src='./src/js/main.js')
  script(defer='' src='./src/js/boot.js')
  title linuxWeb boot
message_info  
build
