head
  link(rel='stylesheet' type='text/css' href='./assets/styles/main.css')
  link(rel='stylesheet' type='text/css' href='./assets/styles/boot_and_shutdown.css')
  script(defer='' src='./assets/js/main.js')
  script(defer='' src='./assets/js/shutdown.js')
  title linuxWeb shutdown
message_info  
build
