head
  link(rel='stylesheet' type='text/css' href='./css/main.css')
  link(rel='stylesheet' type='text/css' href='./css/boot_and_shutdown.css')
  script(defer='' src='./js/main.js')
  script(defer='' src='./js/shutdown.js')
  title linuxWeb shutdown
message_info  
build
