doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title linuxWeb
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' href='./css/main.css')
  link(rel='stylesheet' type='text/css' href='./css/linux.css')
  script(src='./js/linuxWeb_js/X.js')

body
  
  div#linuxRoot
    div#topBar
      div.left_wrapper
        div#activitiesMenuButton
          | Activities
      div.middle_wrapper
        span#topBarDateTime
      div.right_wrapper
        div#statusAreaButton.statusAreaButton
            network_icon
            volume_icon
            down_icon
    div#mainContent

  div#overlayContainer
    div#systemOverlays
      div#systemMenuContainer
      div#systemMenuAnimationContainer
    div.general
