doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title linuxWeb
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' href='./css/main.css')
  
  link(rel='stylesheet' type='text/css' href='./css/X/animations.css')
  link(rel='stylesheet' type='text/css' href='./css/X/icons.css')

  link(rel='stylesheet' type='text/css' href='./css/X/topbar.css')
  link(rel='stylesheet' type='text/css' href='./css/X/applist.css')

  link(rel='stylesheet' type='text/css' href='./css/X/cta.css')

  link(rel='stylesheet' type='text/css' href='./css/X/system_popups/context_menu.css')
  link(rel='stylesheet' type='text/css' href='./css/X/system_popups/status_area.css')
  link(rel='stylesheet' type='text/css' href='./css/X/system_popups/activities_menu.css')

  link(rel='stylesheet' type='text/css' href='./css/X/apps_container.css')
  link(rel='stylesheet' type='text/css' href='./css/X/apps/terminal.css')
  link(rel='stylesheet' type='text/css' href='./css/X/apps/settings.css')
  link(rel='stylesheet' type='text/css' href='./css/X/apps/notepad.css')

  link(rel='stylesheet' type='text/css' href='./css/X/login.css')
  script(src='./js/linuxWeb_js/X.js')

body
  login.login
    div.login_background 
    div.login_time
      time
      date
      p Click or Press a key to unlock
    form(onsubmit='event.preventDefault();X.lockScreen.playLoginAnimation(system.validatePassword(this.children[1].value));')
      login_user.login_user
        user_icon_container
          user_icon
        user_name root
      input(type='password' name='password' placeholder='Password')
    topbar
      left
      middle
      right
        lockscreen_statusarea.statusArea
          network_icon
          volume_icon
          down_icon
  linux
    // Desktop Area
    main_background
    desktop
    // Title bar
    topbar
      left
        activities_menu_button
          | Activities
      middle
        datetime
      right
        statusarea.statusArea
          network_icon
          volume_icon
          down_icon
    // App List Bar
    app_list
    // Apps Container
    apps_container.apps_container
    system_menu_container
    system_menu_animation_container
  overlay_container
