doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title linuxWeb
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' href='./css/main.css')
  
  link(rel='stylesheet' type='text/css' href='./css/X/animations.css')
  link(rel='stylesheet' type='text/css' href='./css/X/icons.css')
  link(rel='stylesheet' type='text/css' href='./css/X/top_bar.css')
  link(rel='stylesheet' type='text/css' href='./css/X/popup_notification.css')
  link(rel='stylesheet' type='text/css' href='./css/X/applist.css')
  link(rel='stylesheet' type='text/css' href='./css/X/cta.css')
  link(rel='stylesheet' type='text/css' href='./css/X/calendar.css')

  link(rel='stylesheet' type='text/css' href='./css/X/system_popups/context_menu.css')
  link(rel='stylesheet' type='text/css' href='./css/X/system_popups/status_area.css')
  link(rel='stylesheet' type='text/css' href='./css/X/system_popups/activities_menu.css')
  link(rel='stylesheet' type='text/css' href='./css/X/system_popups/notification_panel.css')

  link(rel='stylesheet' type='text/css' href='./css/X/apps_container.css')
  link(rel='stylesheet' type='text/css' href='./css/X/apps/terminal.css')
  link(rel='stylesheet' type='text/css' href='./css/X/apps/settings.css')
  link(rel='stylesheet' type='text/css' href='./css/X/apps/notepad.css')
  

  link(rel='stylesheet' type='text/css' href='./css/X/login.css')
  script(src='./js/linuxWeb_js/X.js')

body
  div#loginRoot
    div#login_background 
    div#login_time
      time
      date
      p Click or Press a key to unlock
    form(onsubmit='event.preventDefault();X.lockScreen.playLoginAnimation(system.validatePassword(this.children[1].value));')
      div.user_wrapper
        div.user_icon_wrapper
          user_icon
        div#loginUserName root
      input(type='password' name='password' placeholder='Password')
    div.topBar
      div.left_wrapper
      div.middle_wrapper
      div.right_wrapper
        div#lockscreenStatusArea.statusArea
          network_icon
          volume_icon
          down_icon
  div#linuxRoot
    // Desktop Area
    div#main_background
    div#desktop
    // Title bar
    div.topBar
      div.left_wrapper
        div#activitiesMenuButton
          | Activities
      div.middle_wrapper
        datetime
      div.right_wrapper
        div#statusarea.statusArea
          network_icon
          volume_icon
          down_icon
    // Popup notifications
    div#popupNotificationsContainer
    // App List Bar
    div#appList
    // Apps Container
    div#appsContainer
    div#systemMenuContainer
    div#systemMenuAnimationContainer
  div#overlayContainer
