// Desktop Area
div#main_background
div#desktop
// Top bar
div.topBar
    div.left_wrapper
    div#activitiesMenuButton
        | Activities
    div.middle_wrapper
    span#topBarDateTime
    div.right_wrapper
    div#statusAreaButton.statusAreaButton
        network_icon
        volume_icon
        down_icon
// Popup notifications
div#popupNotificationsContainer
// App List Bar
div#appList
// Apps Container
div#appsContainer