doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='./assets/styles/boot_and_shutdown.css')
  link(rel='stylesheet' type='text/css' href='./assets/styles/main.css')
  link(rel='shortcut icon' href='./assets/img/favicon.ico' type='image/x-icon')
  script(src='./assets/js/main.js')
  title linuxWeb pre-boot
pre_boot
  h1 Press a key to boot...
  p (or tap if you&apos;re on a phone)
script let doTheThing = () => page.changePage('./views/boot.html'); document.body.addEventListener('click', doTheThing); document.body.addEventListener('keypress', doTheThing);